$font-family: 'Source Sans Pro', sans-serif
html, body
  height: 100%
.header_location
  background: -webkit-linear-gradient(right, #fbfdfd , #6088c3) /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #fbfdfd,  #6088c3) /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #fbfdfd,  #6088c3) /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fbfdfd ,  #6088c3) /* Standard syntax */
  ul
    max-width: 1400px
    margin: 0 auto
    height: 74px
    display: flex
    display: -webkit-flex
    flex-direction: column
    -webkit-flex-direction: column
    justify-content: center
    -webkit-justify-content: center
    li
      font: 400 14px $font-family
      color: #fff
      text-align: right
      margin-right: 24px
      letter-spacing: -0.03em
.col-sm-12
  position: relative
.logo
  z-index: 2
  position: absolute
  top: -74px
  left: 25px
  a
    display: block
    img
      max-width: 443px
      width: 100%
.box_logo
  max-width: 1400px
  margin: 0 auto
  position: relative

.header_number
  max-width: 1400px
  margin: 0 auto
  width: 100%
  height: 48px
  background: #fff
  display: flex
  display: -webkit-flex
  justify-content: center
  -webkit-justify-content: center
  flex-direction: column
  -webkit-flex-direction: column
  text-align: right
  a
    font: 700 23px $font-family
    color: #1b2618
    margin-right: 24px
    span
      color: #93b0ca
      font-size: 19px
      margin-right: 3px
.blue_line
  background: #4070b7
  height: 12px
.navbar-default
  background-color: #fff
  border-color: #fff
.container-fluid.navbar
  max-width: 1400px
  margin: 0 auto
.nav.navbar-nav
  float: none
  display: flex
  display: -webkit-flex
  justify-content: center
  -webkit-justify-content: center
  margin: 0
  a
    font: 700 20px $font-family
    color: #1b2618
    letter-spacing: 0.01em
    padding: 7px 15px
    padding-bottom: 4px
    &:hover
      color: #6088c3
      background: #fff

  li
    position: relative
    &:after
      z-index: 2
      content: ""
      position: absolute
      top: 11px
      right: -1px
      width: 2px
      height: 21px
      background: #1b2618
    &:last-child
      &:after
        display: none

.navbar
  position: relative
  min-height: 36px
  margin-bottom: 0px

.img_text
  max-width: 1400px
  margin: 0 auto
  height: calc(100% - 170px)
  .bg_autumn
    width: 100%
.main_section
  position: relative
  background: url('../images/home_bg.jpg') no-repeat
  background-size: cover
  background-position: 50% 50%
  height: calc(100% - 53px)
  .bg_autumn
    display: none
  .blazon
    position: absolute
    bottom: 14px
    left: 14px
  .prof_helpful
    position: absolute
    right: 55px
    bottom: 16px
    width: 566px
.title_prof_helpful

  background-color: rgba(64, 112, 183, 0.8)
  color: #fff
  height: 64px
  h2
    font-family: 'Unna', serif
    font-size: 33px
    margin: 0
    padding-top: 9px
    text-align: center
    line-height: 32px
  p
    font: 300 12px $font-family
    margin: 0
    margin-right: 35px
    text-align: right
.text_prof_helpful
  height: 240px
  background: -webkit-linear-gradient(top, #fff, transparent) /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top,  #fff , transparent) /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #fff , transparent) /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom,  #fff , transparent) /* Standard syntax */
  p
    font: 400 13px $font-family
    color: #1b2618
    padding-left: 25px
    padding-right: 14px
    width: 100%
    padding-top: 8px
    letter-spacing: -0.01em
footer
  background: #9db8cf
  bottom: 0
  right: 0
  left: 0
  position: absolute
  text-align: center
  height: 53px
  display: flex
  display: -webkit-flex
  flex-direction: column
  -webkit-flex-direction: column
  justify-content: center
  -webkit-justify-content: center

  p
    font: 400 10px $font-family
    color: #1b2618
    margin: 0
    line-height: 0.95em
    margin-right: 90px
    margin-left: 90px
  div

    max-width: 1400px
    margin: 0 auto
.callToday
  display: none
.navbar-header
  p
    display: none
.blazon p,.blazon span
  display: none

@media (min-width: 1200px)
  footer
    height: 44px
  .main_section
    height: calc(100% - 44px)
@media (max-width: 992px)
  .nav.navbar-nav a
    font-size: 18px
  .logo
    top: -45px
    a
      img
        max-width: 326px

  .main_section
    .prof_helpful
      width: 475px
      right: 32px
  .title_prof_helpful h2
    font-size: 28px
  footer
    height: 61px
  .main_section
    height: calc(100% - 61px)
@media (max-width: 767px)
  .header_location,.prof_helpful
    display: none

  .logo
    position: relative
    top: -28px
    left: 0
    text-align: center
    a
      img
        max-width: 618px
        width: 90%
        margin: 0 auto
  .nav.navbar-nav
    flex-direction: column
    -webkit-flex-direction: column
    padding: 15px 0
    li
      &:after
        width: 10px
        height: 10px
        left: -2px
        border-radius: 10px
        top: 42%
        background: #4070b7
      &:last-child
        &:after
          display: block
  .nav.navbar-nav a
    font-size: 24px


  #bs-example-navbar-collapse-1
    margin-left: 50px
    width: 285px
    border: 1px solid #4070b7
    border-top: none
    background: #fff


  .header_number
    a
      font-size: 25px
      span
        font-size: 21px
        margin-right: 8px
    .callToday
      display: inline-block
      color:  #1b2618
      font: 700 25px "Source Sans Pro", sans-serif
      margin-right: 15px
  header .row
    display: flex
    display: -webkit-flex
    flex-direction: column
    -webkit-flex-direction: column
  .col-sm-12.number
    order: -1
    -webkit-order: -1
    margin-bottom: 20px
    margin-top: 5px
    .header_number a
      margin: 0px
      text-align: center
  .blue_line
    height: 77px
    margin-top: -92px
  .navbar-header
    p
      display: inline-block
      color: #fff
      font: 700 34px "Source Sans Pro", sans-serif
      text-transform: uppercase
      margin: 0
      margin-top: 5px
      margin-bottom: 10px
  .navbar-default .navbar-toggle .icon-bar
    background-color: #fff
  .navbar-toggle
    background: #4070b7
    float: none
    margin: 0px
    margin-left: 8px

  .container-fluid > .navbar-header
    background: #4070b7
    width: 186px
    margin-top: -41px
    margin-left: 50px
    border-radius: 15px
    display: flex
    display: -webkit-flex
  .navbar-toggle .icon-bar
    display: block
    width: 46px
    height: 7px
    border-radius: 1px
  .navbar-toggle .icon-bar + .icon-bar
    margin-top: 6px
  .nav.navbar-nav a
    color: #4070b7
  .navbar
    position: absolute
    z-index: 7
  .img_text
    padding-top: 45px

    height: auto
    margin-bottom: 17px
  .main_section

    height: auto
    background: none
    .bg_autumn
      display: block!important
      margin-bottom: 30px
    .blazon
      position: relative
      bottom: 0px
      left: 0px
      background: #4070b7
      padding: 10px
      display: flex
      display: -webkit-flex
      align-items: center
      -webkit-align-items: center
      justify-content: space-around
      -webkit-justify-content: space-around



      p
        display: flex
        display: -webkit-flex
        flex-direction: column
        -webkit-flex-direction: column
        justify-content: center
        -webkit-justify-content: center
        height: 114px
        background: #fff
        border-radius: 114px
        width: 114px
        text-align: center
        color: #4070b7
        font-size: 24px
        text-transform: uppercase
        margin: 0
        vertical-align: middle
        font-weight: 700

      span
        display: inline-block
        color: #fff
        font-size: 24px
        font-weight: 700


  footer

    background: #fff
    height: auto

    position: relative
    bottom: 12px

    p
      margin-left: 5%
      margin-right: 5%
      &:first-child
        font-size: 13px
        margin-bottom: 5px
        margin-top: 5px


@media (max-width: 600px)
  .navbar-header p
    font-size: 25px
  .navbar-toggle .icon-bar
    height: 4px
  .blue_line
    height: 37px
    margin-top: -62px
  .container-fluid > .navbar-header
    width: 161px
    margin-top: -18px
    margin-left: 10px
  .navbar-header p
    margin-bottom: 6px
  #bs-example-navbar-collapse-1
    margin-left: 10px
@media (max-width: 500px)
  .main_section
    .blazon
      p
        height: 90px
        border-radius: 90px
        width: 90px
        font-size: 22px
      img
        width: 90px
      span
        font-size: 22px
@media (max-width: 430px)
  .main_section
    .blazon
      p
        height: 77px
        border-radius: 77px
        width: 77px
        font-size: 14px
      img
        width: 77px
      span
        font-size: 12px
  .nav.navbar-nav a
    font-size: 22px
