html, body {
  height: 100%; }

.header_location {
  background: -webkit-linear-gradient(right, #fbfdfd, #6088c3);
  background: -o-linear-gradient(right, #fbfdfd, #6088c3);
  background: -moz-linear-gradient(right, #fbfdfd, #6088c3);
  background: linear-gradient(to right, #fbfdfd, #6088c3); }
  .header_location ul {
    max-width: 1400px;
    margin: 0 auto;
    height: 74px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center; }
    .header_location ul li {
      font: 400 14px "Source Sans Pro", sans-serif;
      color: #fff;
      text-align: right;
      margin-right: 24px;
      letter-spacing: -0.03em; }

.col-sm-12 {
  position: relative; }

.logo {
  z-index: 2;
  position: absolute;
  top: -74px;
  left: 25px; }
  .logo a {
    display: block; }
    .logo a img {
      max-width: 443px;
      width: 100%; }

.box_logo {
  max-width: 1400px;
  margin: 0 auto;
  position: relative; }

.header_number {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: right; }
  .header_number a {
    font: 700 23px "Source Sans Pro", sans-serif;
    color: #1b2618;
    margin-right: 24px; }
    .header_number a span {
      color: #93b0ca;
      font-size: 19px;
      margin-right: 3px; }

.blue_line {
  background: #4070b7;
  height: 12px; }

.navbar-default {
  background-color: #fff;
  border-color: #fff; }

.container-fluid.navbar {
  max-width: 1400px;
  margin: 0 auto; }

.nav.navbar-nav {
  float: none;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0; }
  .nav.navbar-nav a {
    font: 700 20px "Source Sans Pro", sans-serif;
    color: #1b2618;
    letter-spacing: 0.01em;
    padding: 7px 15px;
    padding-bottom: 4px; }
    .nav.navbar-nav a:hover {
      color: #6088c3;
      background: #fff; }
  .nav.navbar-nav li {
    position: relative; }
    .nav.navbar-nav li:after {
      z-index: 2;
      content: "";
      position: absolute;
      top: 11px;
      right: -1px;
      width: 2px;
      height: 21px;
      background: #1b2618; }
    .nav.navbar-nav li:last-child:after {
      display: none; }

.navbar {
  position: relative;
  min-height: 36px;
  margin-bottom: 0px; }

.img_text {
  max-width: 1400px;
  margin: 0 auto;
  height: calc(100% - 170px); }
  .img_text .bg_autumn {
    width: 100%; }

.main_section {
  position: relative;
  background: url("../images/home_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: calc(100% - 53px); }
  .main_section .bg_autumn {
    display: none; }
  .main_section .blazon {
    position: absolute;
    bottom: 14px;
    left: 14px; }
  .main_section .prof_helpful {
    position: absolute;
    right: 55px;
    bottom: 16px;
    width: 566px; }

.title_prof_helpful {
  background-color: rgba(64, 112, 183, 0.8);
  color: #fff;
  height: 64px; }
  .title_prof_helpful h2 {
    font-family: "Unna", serif;
    font-size: 33px;
    margin: 0;
    padding-top: 9px;
    text-align: center;
    line-height: 32px; }
  .title_prof_helpful p {
    font: 300 12px "Source Sans Pro", sans-serif;
    margin: 0;
    margin-right: 35px;
    text-align: right; }

.text_prof_helpful {
  height: 240px;
  background: -webkit-linear-gradient(top, #fff, transparent);
  background: -o-linear-gradient(top, #fff, transparent);
  background: -moz-linear-gradient(top, #fff, transparent);
  background: linear-gradient(to bottom, #fff, transparent); }
  .text_prof_helpful p {
    font: 400 13px "Source Sans Pro", sans-serif;
    color: #1b2618;
    padding-left: 25px;
    padding-right: 14px;
    width: 100%;
    padding-top: 8px;
    letter-spacing: -0.01em; }

footer {
  background: #9db8cf;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  text-align: center;
  height: 53px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center; }
  footer p {
    font: 400 10px "Source Sans Pro", sans-serif;
    color: #1b2618;
    margin: 0;
    line-height: 0.95em;
    margin-right: 90px;
    margin-left: 90px; }
  footer div {
    max-width: 1400px;
    margin: 0 auto; }

.callToday {
  display: none; }

.navbar-header p {
  display: none; }

.blazon p, .blazon span {
  display: none; }

@media (min-width: 1200px) {
  footer {
    height: 44px; }

  .main_section {
    height: calc(100% - 44px); } }
@media (max-width: 992px) {
  .nav.navbar-nav a {
    font-size: 18px; }

  .logo {
    top: -45px; }
    .logo a img {
      max-width: 326px; }

  .main_section .prof_helpful {
    width: 475px;
    right: 32px; }

  .title_prof_helpful h2 {
    font-size: 28px; }

  footer {
    height: 61px; }

  .main_section {
    height: calc(100% - 61px); } }
@media (max-width: 767px) {
  .header_location, .prof_helpful {
    display: none; }

  .logo {
    position: relative;
    top: -28px;
    left: 0;
    text-align: center; }
    .logo a img {
      max-width: 618px;
      width: 90%;
      margin: 0 auto; }

  .nav.navbar-nav {
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 15px 0; }
    .nav.navbar-nav li:after {
      width: 10px;
      height: 10px;
      left: -2px;
      border-radius: 10px;
      top: 42%;
      background: #4070b7; }
    .nav.navbar-nav li:last-child:after {
      display: block; }

  .nav.navbar-nav a {
    font-size: 24px; }

  #bs-example-navbar-collapse-1 {
    margin-left: 50px;
    width: 285px;
    border: 1px solid #4070b7;
    border-top: none;
    background: #fff; }

  .header_number a {
    font-size: 25px; }
    .header_number a span {
      font-size: 21px;
      margin-right: 8px; }
  .header_number .callToday {
    display: inline-block;
    color: #1b2618;
    font: 700 25px "Source Sans Pro", sans-serif;
    margin-right: 15px; }

  header .row {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; }

  .col-sm-12.number {
    order: -1;
    margin-bottom: 20px;
    margin-top: 5px; }
    .col-sm-12.number .header_number a {
      margin: 0px;
      text-align: center; }

  .blue_line {
    height: 77px;
    margin-top: -92px; }

  .navbar-header p {
    display: inline-block;
    color: #fff;
    font: 700 34px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }

  .navbar-toggle {
    background: #4070b7;
    float: none;
    margin: 0px;
    margin-left: 8px; }

  .container-fluid > .navbar-header {
    background: #4070b7;
    width: 186px;
    margin-top: -41px;
    margin-left: 50px;
    border-radius: 15px;
    display: flex;
    display: -webkit-flex; }

  .navbar-toggle .icon-bar {
    display: block;
    width: 46px;
    height: 7px;
    border-radius: 1px; }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px; }

  .nav.navbar-nav a {
    color: #4070b7; }

  .navbar {
    position: absolute;
    z-index: 7; }

  .img_text {
    padding-top: 45px;
    height: auto;
    margin-bottom: 17px; }

  .main_section {
    height: auto;
    background: none; }
    .main_section .bg_autumn {
      display: block !important;
      margin-bottom: 30px; }
    .main_section .blazon {
      position: relative;
      bottom: 0px;
      left: 0px;
      background: #4070b7;
      padding: 10px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around; }
      .main_section .blazon p {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        height: 114px;
        background: #fff;
        border-radius: 114px;
        width: 114px;
        text-align: center;
        color: #4070b7;
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;
        vertical-align: middle;
        font-weight: 700; }
      .main_section .blazon span {
        display: inline-block;
        color: #fff;
        font-size: 24px;
        font-weight: 700; }

  footer {
    background: #fff;
    height: auto;
    position: relative;
    bottom: 12px; }
    footer p {
      margin-left: 5%;
      margin-right: 5%; }
      footer p:first-child {
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 5px; } }
@media (max-width: 600px) {
  .navbar-header p {
    font-size: 25px; }

  .navbar-toggle .icon-bar {
    height: 4px; }

  .blue_line {
    height: 37px;
    margin-top: -62px; }

  .container-fluid > .navbar-header {
    width: 161px;
    margin-top: -18px;
    margin-left: 10px; }

  .navbar-header p {
    margin-bottom: 6px; }

  #bs-example-navbar-collapse-1 {
    margin-left: 10px; } }
@media (max-width: 500px) {
  .main_section .blazon p {
    height: 90px;
    border-radius: 90px;
    width: 90px;
    font-size: 22px; }
  .main_section .blazon img {
    width: 90px; }
  .main_section .blazon span {
    font-size: 22px; } }
@media (max-width: 430px) {
  .main_section .blazon p {
    height: 77px;
    border-radius: 77px;
    width: 77px;
    font-size: 14px; }
  .main_section .blazon img {
    width: 77px; }
  .main_section .blazon span {
    font-size: 12px; }

  .nav.navbar-nav a {
    font-size: 22px; } }

/*# sourceMappingURL=style.css.map */
