html, body {
  height: 100%; }

.header_location {
  background: -webkit-linear-gradient(right, #fbfdfd, #6088c3);
  background: -o-linear-gradient(right, #fbfdfd, #6088c3);
  background: -moz-linear-gradient(right, #fbfdfd, #6088c3);
  background: linear-gradient(to right, #fbfdfd, #6088c3); }
  .header_location ul {
    max-width: 1400px;
    margin: 0 auto;
    height: 74px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center; }
    .header_location ul li {
      font: 400 14px "Source Sans Pro", sans-serif;
      color: #fff;
      text-align: right;
      margin-right: 24px;
      letter-spacing: -0.03em; }

.col-sm-12 {
  position: relative; }

.logo {
  z-index: 2;
  position: absolute;
  top: -74px;
  left: 25px; }
  .logo a {
    display: block; }
    .logo a img {
      max-width: 443px;
      width: 100%; }

.box_logo {
  max-width: 1400px;
  margin: 0 auto;
  position: relative; }

.header_number {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: right; }
  .header_number a {
    font: 700 23px "Source Sans Pro", sans-serif;
    color: #1b2618;
    margin-right: 24px; }
    .header_number a span {
      color: #93b0ca;
      font-size: 19px;
      margin-right: 3px; }

.blue_line {
  background: #4070b7;
  height: 12px; }

.navbar-default {
  background-color: #fff;
  border-color: #fff; }

.container-fluid.navbar {
  max-width: 1400px;
  margin: 0 auto; }

.nav.navbar-nav {
  float: none;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0; }
  .nav.navbar-nav a {
    font: 700 20px "Source Sans Pro", sans-serif;
    color: #1b2618;
    letter-spacing: 0.01em;
    padding: 7px 15px;
    padding-bottom: 4px; }
    .nav.navbar-nav a:hover {
      color: #6088c3;
      background: #fff; }
  .nav.navbar-nav li {
    position: relative; }
    .nav.navbar-nav li:after {
      z-index: 2;
      content: "";
      position: absolute;
      top: 11px;
      right: -1px;
      width: 2px;
      height: 21px;
      background: #1b2618; }
    .nav.navbar-nav li:last-child:after {
      display: none; }

.navbar {
  position: relative;
  min-height: 36px;
  margin-bottom: 0px; }

.img_text {
  max-width: 1400px;
  margin: 0 auto;
  height: calc(100% - 170px); }
  .img_text .bg_autumn {
    width: 100%; }

.main_section {
  position: relative;
  background: url("../images/home_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: calc(100% - 53px); }
  .main_section .blazon {
    position: absolute;
    bottom: 14px;
    left: 14px; }
  .main_section .prof_helpful {
    position: absolute;
    right: 55px;
    bottom: 16px;
    width: 566px; }

.title_prof_helpful {
  background-color: rgba(64, 112, 183, 0.8);
  color: #fff;
  height: 64px; }
  .title_prof_helpful h2 {
    font-family: "Unna", serif;
    font-size: 33px;
    margin: 0;
    padding-top: 9px;
    text-align: center;
    line-height: 32px; }
  .title_prof_helpful p {
    font: 300 12px "Source Sans Pro", sans-serif;
    margin: 0;
    margin-right: 35px;
    text-align: right; }

.text_prof_helpful {
  height: 240px;
  background: -webkit-linear-gradient(top, #fff 70%, transparent 30%);
  background: -o-linear-gradient(top, #fff, transparent);
  background: -moz-linear-gradient(top, #fff, transparent);
  background: linear-gradient(top, #fff, transparent); }
  .text_prof_helpful p {
    font: 400 13px "Source Sans Pro", sans-serif;
    color: #1b2618;
    padding-left: 25px;
    padding-right: 14px;
    width: 100%;
    padding-top: 8px;
    letter-spacing: -0.01em; }

footer {
  background: #9db8cf;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  text-align: center;
  height: 53px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center; }
  footer p {
    font: 400 10px "Source Sans Pro", sans-serif;
    color: #1b2618;
    margin: 0;
    line-height: 0.95em;
    margin-right: 90px;
    margin-left: 90px; }
  footer div {
    max-width: 1400px;
    margin: 0 auto; }

@media (min-width: 1200px) {
  footer {
    height: 44px; }

  .main_section {
    height: calc(100% - 44px); } }
@media (max-width: 1024px) {
  .main_section {
    background-size: contain; } }

/*# sourceMappingURL=style.css.map */
